.header {
  backdrop-filter: blur(12px);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.navbar {
  border-right: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.logo {
  user-select: none;
}

.logoIcon {
  color: var(--mantine-color-indigo-5);
}

.navLink {
  border-radius: var(--mantine-radius-md);
}
